In [1]:
import numpy as np
import pandas as pd

In [27]:
covid_data = pd.read_csv('covid19-11-10-2020.csv')
covid_data.head()

,Unnamed: 0,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,0,NaN,NaN,NaN,Afghanistan,2020-11-11 05:25:30,33.93911,67.709953,42297,1574,34954.0,5769.0,Afghanistan,108.653487,3.721304
1,1,NaN,NaN,NaN,Albania,2020-11-11 05:25:30,41.15330,20.168300,25294,579,12353.0,12362.0,Albania,878.935298,2.289080
2,2,NaN,NaN,NaN,Algeria,2020-11-11 05:25:30,28.03390,1.659600,63446,2077,42626.0,18743.0,Algeria,144.685270,3.273650
3,3,NaN,NaN,NaN,Andorra,2020-11-11 05:25:30,42.50630,1.521800,5477,75,4405.0,997.0,Andorra,7088.591212,1.369363
4,4,NaN,NaN,NaN,Angola,2020-11-11 05:25:30,-11.20270,17.873900,12816,308,6036.0,6472.0,Angola,38.994388,2.403246

In [28]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           3998 non-null   int64
 1   FIPS                 3265 non-null   float64
 2   Admin2               3270 non-null   object
 3   Province_State       3819 non-null   object
 4   Country_Region       3998 non-null   object
 5   Last_Update          3998 non-null   object
 6   Lat                  3912 non-null   float64
 7   Long_                3912 non-null   float64
 8   Confirmed            3998 non-null   int64
 9   Deaths               3998 non-null   int64
 10  Recovered            3997 non-null   float64
 11  Active               3997 non-null   float64
 12  Combined_Key         3998 non-null   object
 13  Incident_Rate        3912 non-null   float64
 14  Case_Fatality_Ratio  3947 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 468.6+ KB

In [29]:
covid_data.nunique()

Unnamed: 0             3998
FIPS                   3265
Admin2                 1925
Province_State          585
Country_Region          200
Last_Update               4
Lat                    3911
Long_                  3901
Confirmed              2553
Deaths                  669
Recovered               619
Active                 2387
Combined_Key           3998
Incident_Rate          3892
Case_Fatality_Ratio    3099
dtype: int64

In [30]:
covid_data.describe()

,Unnamed: 0,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
count,3998.000000,3265.000000,3912.000000,3912.000000,3.998000e+03,3998.000000,3.997000e+03,3.997000e+03,3912.000000,3947.000000
mean,1998.500000,32386.688208,35.730747,-71.307165,1.291091e+04,336.736118,8.399545e+03,5.389909e+03,2923.323120,2.107454
std,1154.267517,18017.294540,13.387036,55.157959,7.023134e+04,2136.747535,8.291588e+04,3.591278e+04,2029.200645,7.561098
min,0.000000,66.000000,-71.949900,-175.198200,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,999.250000,19049.000000,33.190701,-96.616471,3.130000e+02,4.000000,0.000000e+00,2.600000e+02,1421.744529,0.784314
50%,1998.500000,30067.000000,37.886945,-86.795096,9.455000e+02,16.000000,0.000000e+00,8.120000e+02,2702.390501,1.526718
75%,2997.750000,47039.000000,42.135531,-77.399237,3.758500e+03,68.000000,0.000000e+00,2.604000e+03,4019.235601,2.594741
max,3997.000000,99999.000000,71.706900,178.065000,1.834515e+06,58514.000000,3.961873e+06,1.681377e+06,18089.680590,450.632911

In [31]:
covid_data['Total_Cases'] = covid_data['Incident_Rate'].apply(lambda x: x * 100000)
covid_data = covid_data.groupby('Country_Region').sum().reset_index()
covid_data.nlargest(10, columns='Total_Cases')[['Country_Region', 'Total_Cases']].to_csv('top10cases.csv', header=False)

In [32]:
covid_data.isna().sum()

Country_Region         0
Unnamed: 0             0
FIPS                   0
Admin2                 0
Province_State         0
Last_Update            0
Lat                    0
Long_                  0
Confirmed              0
Deaths                 0
Recovered              0
Active                 0
Combined_Key           0
Incident_Rate          0
Case_Fatality_Ratio    0
Total_Cases            0
dtype: int64

In [33]:
(covid_data[['Confirmed', 'Deaths', 'Recovered']].sum(axis=1) == 0).sum()

np.int64(10)

In [34]:
len(covid_data)

200

In [35]:
((covid_data['Deaths'] != 0) | (covid_data['Confirmed'] != 0) | (covid_data['Recovered'] != 0)).sum()

np.int64(190)

In [36]:
covid_data['Recovery_Rate'] = covid_data['Recovered'] / covid_data['Confirmed']
covid_data = covid_data[(covid_data['Deaths'] != 0) | (covid_data['Confirmed'] != 0) | (covid_data['Recovered'] != 0)]

In [37]:
median_filtered_data = covid_data[covid_data['Confirmed'] > covid_data.Confirmed.median()]
median_filtered_data

,Country_Region,Unnamed: 0,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Total_Cases,Recovery_Rate
0,Afghanistan,0,0.0,0,0,2020-11-11 05:25:30,33.939110,67.709953,42297,1574,34954.0,5769.0,Afghanistan,108.653487,3.721304,1.086535e+07,0.826394
1,Albania,1,0.0,0,0,2020-11-11 05:25:30,41.153300,20.168300,25294,579,12353.0,12362.0,Albania,878.935298,2.289080,8.789353e+07,0.488377
2,Algeria,2,0.0,0,0,2020-11-11 05:25:30,28.033900,1.659600,63446,2077,42626.0,18743.0,Algeria,144.685270,3.273650,1.446853e+07,0.671847
7,Argentina,6,0.0,0,0,2020-11-11 05:25:30,-38.416100,-63.616700,1262476,34183,1081897.0,146396.0,Argentina,2793.349476,2.707616,2.793349e+08,0.856964
8,Armenia,7,0.0,0,0,2020-11-11 05:25:30,40.069100,45.038200,108687,1609,66835.0,40243.0,Armenia,3667.850733,1.480398,3.667851e+08,0.614931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,United Arab Emirates,3937,0.0,0,0,2020-11-11 05:25:30,23.424076,53.847818,144385,518,139701.0,4166.0,United Arab Emirates,1459.849956,0.358763,1.459850e+08,0.967559
189,United Kingdom,75106,0.0,0,AnguillaBermudaBritish Virgin IslandsCayman Is...,2020-11-11 05:25:302020-11-11 05:25:302020-11-...,496.754894,-642.546956,1237166,68281,3010.0,1184329.0,"Anguilla, United KingdomBermuda, United Kingdo...",14442.806010,39.892537,1.444281e+09,0.002433
191,Uzbekistan,3955,0.0,0,0,2020-11-11 05:25:30,41.377491,64.585262,69027,588,66194.0,2245.0,Uzbekistan,206.240370,0.851841,2.062404e+07,0.958958
193,Venezuela,3957,0.0,0,0,2020-11-11 05:25:30,6.423800,-66.589700,95445,834,90359.0,4252.0,Venezuela,335.649147,0.873802,3.356491e+07,0.946713
195,West Bank and Gaza,3959,0.0,0,0,2020-11-11 05:25:30,31.952200,35.233200,59422,533,51425.0,7464.0,West Bank and Gaza,1164.813848,0.896974,1.164814e+08,0.865420

In [38]:
mean_filtered_data = median_filtered_data[median_filtered_data['Recovery_Rate'] > covid_data.Recovery_Rate.mean()]
mean_filtered_data.sort_values(by='Recovery_Rate',
                               ascending=False)[['Country_Region', 'Recovery_Rate']]

           Country_Region  Recovery_Rate
159             Singapore       0.998485
144                 Qatar       0.978242
13                Bahrain       0.971412
68                  Ghana       0.970407
188  United Arab Emirates       0.967559
154          Saudi Arabia       0.962516
85                 Israel       0.960519
191            Uzbekistan       0.958958
36                  Chile       0.954639
193             Venezuela       0.946713
131               Nigeria       0.937780
96                 Kuwait       0.930837
80                  India       0.927950
164          South Africa       0.922918
140                  Peru       0.921110
134                  Oman       0.919636
135              Pakistan       0.919241
54                  Egypt       0.916884
71              Guatemala       0.910915
94           Korea, South       0.908882
141           Philippines       0.905366
24                 Brazil       0.905303
88                  Japan       0.891697
37                  China       0.882730
53                Ecuador       0.881880
90             Kazakhstan       0.879445
55            El Salvador       0.873557
195    West Bank and Gaza       0.865420
83                   Iraq       0.860195
97             Kyrgyzstan       0.859323
183                Turkey       0.857625
7               Argentina       0.856964
38               Colombia       0.848973
137                Panama       0.847171
16                Belarus       0.846223
81              Indonesia       0.845601
117                Mexico       0.842441
52     Dominican Republic       0.829438
0             Afghanistan       0.826394
122               Morocco       0.817796
33                 Canada       0.809595
21                Bolivia       0.807485
14             Bangladesh       0.805949
9               Australia       0.805826
126                 Nepal       0.803850
44                Croatia       0.780918
118               Moldova       0.775505
82                   Iran       0.754590
28                  Burma       0.749688
66                Georgia       0.744540
146                Russia       0.744340
48                Denmark       0.743997
11             Azerbaijan       0.742061

In [39]:
mean_filtered_data.sort_values(by='Recovery_Rate', 
                               ascending=False)[['Country_Region', 'Recovery_Rate']].to_csv('recovery_rate.csv', header=False)

In [40]:
covid_data[covid_data['Country_Region'] == 'Iran']

,Country_Region,Unnamed: 0,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Total_Cases,Recovery_Rate
82,Iran,273,0.0,0,0,2020-11-11 05:25:30,32.427908,53.688046,703288,39202,530694.0,133392.0,Iran,837.317864,5.574103,8.373179e+07,0.75459

In [41]:
vsiran = covid_data[(covid_data['Confirmed'] > 703288) & (covid_data['Deaths'] < 39202)]
vsiran.sort_values(by='Confirmed', ascending=False, inplace=True)
vsiran[['Country_Region', 'Confirmed', 'Deaths', 'Recovered']].to_csv('vsiran.csv', header=False)

/tmp/ipykernel_10485/953257185.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vsiran.sort_values(by='Confirmed', ascending=False, inplace=True)

In [42]:
(covid_data['Confirmed'] == 0).sum()

np.int64(0)

In [43]:
(covid_data == 0).sum()

Country_Region           0
Unnamed: 0               1
FIPS                   189
Admin2                 189
Province_State         166
Last_Update              0
Lat                      2
Long_                    2
Confirmed                0
Deaths                  15
Recovered                5
Active                   3
Combined_Key             0
Incident_Rate            2
Case_Fatality_Ratio     15
Total_Cases              2
Recovery_Rate            5
dtype: int64

In [45]:
covid_data.Confirmed.quantile(0.2)

np.float64(2055.6000000000004)

In [46]:
covid_data.Incident_Rate.quantile(0.2)

np.float64(38.454666283656415)

In [47]:
len(covid_data)

190

In [48]:
len(covid_data) * 0.8

152.0

In [50]:
len(covid_data) * 0.8 * 0.2

30.400000000000002

In [51]:
covid_data['death_ratio'] = covid_data['Deaths'] / covid_data['Confirmed']

In [54]:
covid_data = covid_data[covid_data['Confirmed'] > covid_data.Confirmed.quantile(0.2)]
print(len(covid_data))
covid_data.head()

152

,Country_Region,Unnamed: 0,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Total_Cases,Recovery_Rate,death_ratio
0,Afghanistan,0,0.0,0,0,2020-11-11 05:25:30,33.93911,67.709953,42297,1574,34954.0,5769.0,Afghanistan,108.653487,3.721304,1.086535e+07,0.826394,0.037213
1,Albania,1,0.0,0,0,2020-11-11 05:25:30,41.15330,20.168300,25294,579,12353.0,12362.0,Albania,878.935298,2.289080,8.789353e+07,0.488377,0.022891
2,Algeria,2,0.0,0,0,2020-11-11 05:25:30,28.03390,1.659600,63446,2077,42626.0,18743.0,Algeria,144.685270,3.273650,1.446853e+07,0.671847,0.032737
3,Andorra,3,0.0,0,0,2020-11-11 05:25:30,42.50630,1.521800,5477,75,4405.0,997.0,Andorra,7088.591212,1.369363,7.088591e+08,0.804272,0.013694
4,Angola,4,0.0,0,0,2020-11-11 05:25:30,-11.20270,17.873900,12816,308,6036.0,6472.0,Angola,38.994388,2.403246,3.899439e+06,0.470974,0.024032

In [57]:
covid_data.sort_values(by='Recovery_Rate', ascending=False, inplace=True)

/tmp/ipykernel_10485/3170439155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_data.sort_values(by='Recovery_Rate', ascending=False, inplace=True)

In [58]:
covid_data.head()

,Country_Region,Unnamed: 0,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Total_Cases,Recovery_Rate,death_ratio
159,Singapore,573,0.0,0,0,2020-11-11 05:25:30,1.2833,103.8333,58073,28,57985.0,60.0,Singapore,992.642654,0.048215,9.926427e+07,0.998485,0.000482
64,Gabon,203,0.0,0,0,2020-11-11 05:25:30,-0.8037,11.6094,9029,57,8899.0,73.0,Gabon,405.665023,0.631299,4.056650e+07,0.985602,0.006313
43,Cote d'Ivoire,170,0.0,0,0,2020-11-11 05:25:30,7.5400,-5.5471,20847,126,20546.0,175.0,Cote d'Ivoire,79.030945,0.604404,7.903094e+06,0.985561,0.006044
144,Qatar,476,0.0,0,0,2020-11-11 05:25:30,25.3548,51.1839,134663,233,131733.0,2697.0,Qatar,4674.078291,0.173025,4.674078e+08,0.978242,0.001730
155,Senegal,569,0.0,0,0,2020-11-11 05:25:30,14.4974,-14.4524,15720,326,15366.0,28.0,Senegal,93.884769,2.073791,9.388477e+06,0.977481,0.020738

In [61]:
covid_data.nsmallest(30, columns='death_ratio')[['Country_Region', 'death_ratio']].to_csv('20percent.csv', header=False)

In [26]:
import zlib
import zipfile

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["top10cases.csv", "recovery_rate.csv", "vsiran.csv", "20percent.csv", "covid19.ipynb"]
compress(file_names)

File Paths:
['top10cases.csv', 'recovery_rate.csv', 'vsiran.csv', '20percent.csv', 'covid19.ipynb']